<!DOCTYPE HTML>
<html>
<head>
    <title>Manager page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Graph CSS -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400'
          rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700'
          rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!-- top_bg -->
                    <div class="top_bg">
                        <div class="header_top">
                            <div class="top_right">
                                <ul>
                                    <li><a href="contact.html">help</a></li>|
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <div class="top_left">
                                <h2>
                                    <span></span> Call us : 016.333.99.661
                                </h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <!-- /top_bg -->
                </div>
                @RenderBody()
            </div>
        </div>
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span></a>
            </header>
            <div style="border-top: 1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li>
                        <a href="@Url.Action("Index", "Admin", new {@logUserID = ViewBag.logUserID})"><i class="fa fa-tachometer"></i><span>Home</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tachometer"></i><span>Employee</span></a>
                    </li>
                    @if (ViewBag.logUserType != 3) // Admin or Manager
                    {
                        <li id="menu-academico">
                            <a href="#">
                                <i class="lnr lnr-layers"></i> <span>Register</span> <span class="fa fa-angle-right" style="float: right"></span>
                            </a>
                            <ul id="menu-academico-sub">
                                <li id="menu-academico-avaliacoes">
                                    <a href="@Url.Action("CreateEmployee", "Create", new {@logUserID = ViewBag.logUserID})"><span>New Employee</span></a>
                                </li>
                                @if (ViewBag.logUserType != 2) // Admin
                                {
                                    <li id="menu-academico-avaliacoes">
                                        <a href="@Url.Action("CreateDevice", "Create")"><span>New Device</span></a>
                                    </li>
                                }
                                
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("Logout", "Users")"><i class="lnr lnr-chart-bars"></i> <span>Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
        var toggle = true;
        $(".sidebar-icon").click(
                function () {
                    if (toggle) {
                        $(".page-container").addClass("sidebar-collapsed")
                                .removeClass("sidebar-collapsed-back");
                        $("#menu span").css({
                            "position": "absolute"
                        });
                    } else {
                        $(".page-container").removeClass("sidebar-collapsed")
                                .addClass("sidebar-collapsed-back");
                        setTimeout(function () {
                            $("#menu span").css({
                                "position": "relative"
                            });
                        }, 400);
                    }

                    toggle = !toggle;
                });
    </script>
</body>
</html>