@model FISWeb.Models.EmployeeViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$(document).ready(function () {
		$('#demo-pie-1').pieChart({
			barColor: '#3bb2d0',
			trackColor: '#eee',
			lineCap: 'round',
			lineWidth: 8,
			onStep: function (from, to, percent) {
				$(this.element).find('.pie-value').text(Math.round(percent) + '%');
			}
		});

		$('#demo-pie-2').pieChart({
			barColor: '#fbb03b',
			trackColor: '#eee',
			lineCap: 'butt',
			lineWidth: 8,
			onStep: function (from, to, percent) {
				$(this.element).find('.pie-value').text(Math.round(percent) + '%');
			}
		});
	});
</script>

<div class="content">
    <div class="monthly-grid">
        <div class="panel panel-widget">
            <div class="panel-title">Monthly Status Report</div>
            <div>
                <div class="contain">
                    <div class="gantt">
                        <table border="1">
                            <tr>
                                @for (int i = 0; i < Model.numDays; i++)
                                {
                                    <th class="tbcell">@(i + 1)</th>
                                }
                            </tr>
                            <tr>
                                @for (int i = 1; i < Model.numDays + 1; i++)
                                {
                                    <td>
                                        @if (@Model.monthAttend[i] == true)
                                        {
                                            <span>v</span>
                                        }
                                        else if (i < DateTime.Now.Day)
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            <span></span>
                                        }
                                    </td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-top">
        <div class="col-md-5 skil">
            <div class="content-top-1">
                <div class="col-md-6 top-content">
                    <h5>Working days</h5>
                    <label>@Model.countWd / @ViewBag.totalWd</label>
                </div>
                <div class="col-md-6 top-content1">
                    <div id="demo-pie-1" class="pie-title-center" data-percent="@Model.percenWd"> <span class="pie-value">@Model.percenWd%</span> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="content-top-1">
                <div class="col-md-6 top-content">
                    <h5>Weekend</h5>
                    <label>@Model.countWk / @ViewBag.totalWk</label>
                </div>
                <div class="col-md-6 top-content1">
                    <div id="demo-pie-2" class="pie-title-center" data-percent="@Model.percenWk"> <span class="pie-value">@Model.percenWk%</span> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="col-md-7 mid-content-top">
            <div class="middle-content">
                <div class="panel-title">Log Attend</div>
                <div>
                    @foreach (var item in Model.listAttent)
                    {
                        <p>Attend at "@item.location" at @item.log_time</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
